name: build-custom-docker-images

on:
  push:
    tags:
      - 'v*'   # Trigger on version tags
      - 'v*-test'  # Also trigger on test version tags
  workflow_dispatch:

permissions:
  contents: read
  packages: write

env:
  GOARCH: amd64
  GOOS: linux

jobs:
  build-collector:
    timeout-minutes: 30
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: oldstable
          cache-dependency-path: "**/*.sum"
      
      - name: Install dependencies
        run: make -j2 gomoddownload
      
      - name: Install Tools
        run: make install-tools
      
      - name: Generate collector code
        run: ./.tools/builder --skip-compilation --config cmd/otel-collector/builder-config.yaml
      
      - name: Build binary
        run: |
          cd ./cmd/otel-collector && \
          GO111MODULE=on CGO_ENABLED=0 go build -trimpath \
            -o ../../bin/otel-collector_${GOOS}_${GOARCH} \
            -tags "" .
      
      - name: Get version and image info
        id: get_info
        run: |
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,' | sed -e 's/^v//')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          echo "owner=$OWNER" >> $GITHUB_OUTPUT
          
          if [[ ! "$VERSION" == *-test ]]; then
            echo "set_latest=true" >> $GITHUB_OUTPUT
          else
            echo "set_latest=false" >> $GITHUB_OUTPUT
          fi
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Prepare Docker context
        run: cp ./bin/otel-collector_${GOOS}_${GOARCH} ./cmd/otel-collector/otel-collector
      
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./cmd/otel-collector
          platforms: linux/amd64
          push: true
          tags: ${{ steps.get_info.outputs.set_latest == 'true' && format('ghcr.io/{0}/otel-collector:{1},ghcr.io/{0}/otel-collector:latest', steps.get_info.outputs.owner, steps.get_info.outputs.version) || format('ghcr.io/{0}/otel-collector:{1}', steps.get_info.outputs.owner, steps.get_info.outputs.version) }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      
      - name: Cleanup
        run: rm ./cmd/otel-collector/otel-collector

  build-exporter:
    timeout-minutes: 30
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: oldstable
          cache-dependency-path: "**/*.sum"
      
      - name: Install dependencies
        run: make -j2 gomoddownload
      
      - name: Install Tools
        run: make install-tools
      
      - name: Generate collector code
        run: ./.tools/builder --skip-compilation --config cmd/otel-exporter/builder-config.yaml
      
      - name: Build binary
        run: |
          cd ./cmd/otel-exporter && \
          GO111MODULE=on CGO_ENABLED=0 go build -trimpath \
            -o ../../bin/otel-exporter_${GOOS}_${GOARCH} \
            -tags "" .
      
      - name: Get version and image info
        id: get_info
        run: |
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,' | sed -e 's/^v//')
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          
          OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          echo "owner=$OWNER" >> $GITHUB_OUTPUT
          
          if [[ ! "$VERSION" == *-test ]]; then
            echo "set_latest=true" >> $GITHUB_OUTPUT
          else
            echo "set_latest=false" >> $GITHUB_OUTPUT
          fi
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Prepare Docker context
        run: cp ./bin/otel-exporter_${GOOS}_${GOARCH} ./cmd/otel-exporter/otel-exporter
      
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./cmd/otel-exporter
          platforms: linux/amd64
          push: true
          tags: ${{ steps.get_info.outputs.set_latest == 'true' && format('ghcr.io/{0}/otel-exporter:{1},ghcr.io/{0}/otel-exporter:latest', steps.get_info.outputs.owner, steps.get_info.outputs.version) || format('ghcr.io/{0}/otel-exporter:{1}', steps.get_info.outputs.owner, steps.get_info.outputs.version) }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      
      - name: Cleanup
        run: rm ./cmd/otel-exporter/otel-exporter
